img{
	position: absolute;
	left: 0px;
  	top: 0px;
  	z-index: -1;
  	height: 90vh;
  	width: 300vh;
  	filter: blur(1px);
  	transition: 2s;
  	-webkit-transition: opacity 1s ease-in-out;
 	 -moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
}